Mismatch of requirement and example in Embedded document token

**Embedded Document Token Format** section:

_jti: RECOMMENDED. A unique identifier for the token as per RFC7519 Section 4.1.7 is RECOMMENDED._
However, `jti` is not present in the example.

bernick_mikael_issues edad340

https://github.com/ga4gh/data-security/pull/26